AUTH_SECRET=
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/snappod?sslmode=require

AWS_REGION=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PROCESS_VIDEO_ENDPOINT=
PROCESS_VIDEO_ENDPOINT_AUTH=
PROCESSING_PROGRESS_CALLBACK_URL=http://localhost:3000/api/processing-progress
PROCESSING_COMPLETION_CALLBACK_URL=http://localhost:3000/api/processing-completion
